{% load static %}
<html>
    <head>
        <title>ParkAndNo</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class = "home-and-login-button">
                <h3><a href = "/">Home</a></h3>
                {% if user.is_authenticated %}
                    <p>Hi {{ user.username }}!</p>
                 <a href="{% url 'logout' %}">logout</a>
            {% else %}
                <a href="{% url 'login' %}">login</a> or
                    <a href="{% url 'signup' %}">signup</a>
            {% endif %}
            </div>
            <div class="parkAndNo">
                <p>ParkAndNo</p>
            </div>
        </div>


        </body>
    <div class = "content-container">
        {% block content %}
        {% endblock %}

    </div>
</html>