{% extends 'ticket/base.html' %}
{% load static %}

{% block content %}
<h1>Meet the Team!</h1>
    <p>Hi! My name is Madeleine May and I am the CEO of Park&No inc. Me and my highly qualified team want free parking, and we're not afraid to
        get a ton of tickets and become enemies with a major corporation to do that. </p>
    <p>Nulla aliquet enim tortor at. Eleifend mi in nulla posuere sollicitudin. Nisi porta lorem mollis aliquam ut porttitor leo a.
        Sagittis eu volutpat odio facilisis. Tellus in metus vulputate eu scelerisque. Sit amet cursus sit amet. Gravida quis blandit
        turpis cursus in hac habitasse. Enim tortor at auctor urna nunc id cursus. Neque sodales ut etiam sit amet.</p>
    <p>Enim facilisis gravida neque convallis a cras. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Vivamus arcu felis bibendum ut
        tristique et egestas quis ipsum. Mattis vulputate enim nulla aliquet porttitor. Mollis nunc sed id semper risus. Vulputate sapien nec
        sagittis aliquam malesuada bibendum arcu. Lectus nulla at volutpat diam ut venenatis.</p>
    <p>Et netus et malesuada fames ac turpis. Egestas diam in arcu cursus euismod quis. Enim facilisis gravida neque convallis a cras semper
        auctor. Diam vel quam elementum pulvinar etiam. A pellentesque sit amet porttitor. Quisque egestas diam in arcu cursus euismod quis viverra
        nibh. Hac habitasse platea dictumst quisque sagittis purus sit amet volutpat. Turpis cursus in hac habitasse. Porta lorem mollis aliquam ut
        porttitor leo a diam sollicitudin. Eget gravida cum sociis natoque penatibus et.</p>
{% endblock %}