{% load static %}
<html>
    <head>
        <title>ParkAndNo</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ticket.css' %}">

    </head>

    <div class = "header">
    <a href = "{% url 'ticket_home' %}">home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">logout</a>
            <a href="{% url 'profile_search' %}">profile</a>
            {% else %}
            <a href="{% url 'login' %}">login</a> or
            <a href="{% url 'signup' %}">signup</a>
            {% endif %}
    <a href = "{% url 'about_us' %}">about us</a>
    {% if user.is_administrator %}
        <a href="{% url 'admin' %}">admin</a>
    {% endif %}
    </div>

     <div class = "picture">
         <div class = "ParkAndNo">
        <p>Park&No</p>
    </div>
    </div>

    <div class = footer>
        <p>Thank you for viewing Park&No, to look at another awesome website, click<a href="https://www.farmafield.com/"> here</a></p>
    </div>



        </body>
    <div class = "content-container">
        {% block content %}
        {% endblock %}

    </div>
</html>